
@{
    ViewData["Title"] = "Contatos";
    var telegram = $"https://web.telegram.org/#/im?p=@jersonb";
}


<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

<h1>Contatos - Jerson Brito</h1>
<div>
    <ul style="list-style-type:none">
        <li>
            <h3>
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                <a href='https://br.linkedin.com/in/jersonb'
                   target="_blank">
                    Linkedin
                </a>

            </h3>
        </li>
        <li>
            <h3>
                <i class="fa fa-github-square" aria-hidden="true"></i>
                <a href='https://github.com/jersonb'
                   target="_blank">
                    GitHub
                </a>
            </h3>

        </li>
        <li>
            <h3>
                <i class="fa fa-telegram" aria-hidden="true"></i>
                <a href=@telegram
                   target="_blank">
                    Telegram
                </a>
            </h3>
        </li>
        <li>
            <h3>

                <i class="fa fa-at" aria-hidden="true"></i>
                <a href='mailto:jersonlbrito@hotmail.com'
                   target="_blank">
                    jersonlbrito@hotmail.com
                </a>
            </h3>
        </li>
    </ul>
</div>
