@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TechWeek 2020</h1>
    <h5 >Trilha Backend C#</h5>
    <h3>Eliminando a barreira de grana com .Net Core, GitHub e Heroku</h3>
    <h4>Jerson Brito</h4>
</div>

<div>
    <a href="https://docs.google.com/presentation/d/e/2PACX-1vRrHqUlDnifdwSdJRH82OIRF0idotc5RUJcI3GoOaWBQdebXjczwokOYkghRgyAgn46brGYiOyiokUW/pub?start=true&loop=false&delayms=60000"
       target="_blank">
        <h5> Link para a apresentação</h5>
    </a>
</div>
